@import "../../styles.scss";



.planBg {
  background: $cor-base-02;
  h1{
    padding-bottom: 80px;
    padding-top: 80px;
    margin: 0 auto;
  }
  .planWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-bottom: 80px;
    @include device(m){
      flex-direction: column;
    }
    @include device(s){
      flex-direction: column;
    }
    h2{
      @include type-2(50);
      text-align: center;
      @include device(m){
        grid-row: 1;
        grid-column: 1;
      }
      @include device(s){
        @include type-2(30);
        grid-row: 1;
        grid-column: 1;
      }
    }
    span{
      display: block;
      @include type-1(12);
      color: $cor-base-10;
      text-align: center;
      @include device(m){
        grid-row: 2;
        grid-column: 1;
      }
    }
    p{
      text-align: center;
      @include type-2(50);
      @include device(m){
        grid-row: 2;
        grid-column: 1;
        margin-top: 40px;
      }
    }
    li{
      @include type-1(16);
      margin-top: 20px;
    }
    .planPremium {
      flex: 1;
      background: $cor-base-01;
      padding: 40px;
      position: relative;
      border-radius: 4px;
      box-shadow: 0 4px -4px rgba($color: #000000, $alpha: 0.25);
      @include device(m){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        align-items: start;
        margin: 0 auto;
        gap: 0 60px;
        padding: 20px;
      }
      p{
        padding-bottom: 30px;
        &::after{
          content: "";
          position: absolute;
          display: block;
          background: $azul-4;
          width: 100%;
          height: 4px;
          right: 0;
          margin-top: 20px;
          @include device(m){
            height: 100%;
            width: 4px;
            top: 0;
            margin-top: 0;
            right: 50%;
            margin-right: 20px;
          }
        }
      }
      li{
        display: flex;
        align-items: start;
        gap: 10px;
        max-width: 25ch;
        &::before{
          content: "";
          display: block;
          margin-top: 6px;
          width: 15px;
          height: 10px;
          background-image: linear-gradient($azul-4, $azul-9);
        }
      }
      button{
        @include button(($azul-4, $azul-9), $cor-base-01);
      }
      
    }

    .planStrong{
      flex: 1;
      background: $cor-base-13;
      padding: 40px;
      position: relative;
      border-radius: 4px;
      color: $cor-base-01;
      box-shadow: 0 4px -4px rgba($color: #000000, $alpha: 0.25);
      @include device(m){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        align-items: start;
        margin: 0 auto;
        gap: 0 60px;
        padding: 20px
      }
      p{
        padding-bottom: 30px;
        &::after{
          content: "";
          position: absolute;
          display: block;
          background: $amarelo-01;
          width: 100%;
          height: 4px;
          right: 0;
          margin-top: 20px;
          @include device(m){
            height: 100%;
            width: 4px;
            top: 0;
            margin-top: 0;
            right: 50%;
            margin-right: 20px;
          }
        }
      }
      li{
        display: flex;
        align-items: start;
        gap: 10px;
        max-width: 25ch;
        @include device(m){
          max-width: 40ch;
        }
        &::before{
          content: "";
          display: block;
          margin-top: 6px;
          width: 15px;
          height: 10px;
          background-image: linear-gradient($amarelo-01, $amarelo-14);
        }
      }
      button{
        @include button(($amarelo-01, $amarelo-09), $amarelo-15);
      }
    }
    .planFit {
      flex: 1;
      background: $cor-base-01;
      color: $cor-base-10;
      padding: 40px;
      position: relative;
      border-radius: 4px;
      box-shadow: 0 4px -4px rgba($color: #000000, $alpha: 0.25);
      @include device(m){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content max-content;
        align-items: start;
        margin: 0 auto;
        gap: 0 60px;
        padding: 20px
      }
      p{
        padding-bottom: 30px;
        &::after{
          content: "";
          position: absolute;
          display: block;
          background: $cor-base-10;
          width: 100%;
          height: 4px;
          right: 0;
          margin-top: 20px;
          @include device(m){
            height: 100%;
            width: 4px;
            top: 0;
            margin-top: 0;
            right: 50%;
            margin-right: 20px;
          }
        }
      }
      li{
        display: flex;
        align-items: start;
        gap: 10px;
        max-width: 25ch;
        @include device(m){
          max-width: 40ch;
        }
        &::before{
          content: "";
          display: block;
          margin-top: 6px;
          width: 15px;
          height: 10px;
          background: linear-gradient($azul-4, $azul-9);
        }
      }
      button{
        @include button(($azul-4, $azul-9), $cor-base-01);
      }
    }
  }
}