@import "../styles.scss";

.confirmContainer {
  div{
    display: grid;
    place-items: center;
    padding: 40px;
    background-color: $cor-base-01;
    border-radius: 5px;
    box-shadow: 0 0 10px -4px rgba($color: #000000, $alpha: .3);
    @include type-1(18);
    img{
      width: 50px;
      margin: 20px auto;
    }
  }
  button{
    background-color: $amarelo-01;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    margin-bottom: 16px;
    img{
      width: 24px;
      margin: 0;
    }
  }
}