@import "../styles.scss";

label{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  @include type-1(16);
  font-weight: bold;
  input{
    margin-top: .5rem;
    display: block;
    width: 100%;;
    border: 1px solid transparent;
    border-bottom: 1px solid $cor-base-14;
    background-color: $cor-base-02;
    padding: .8rem .4rem;
    @include type-1(16);
    transition: .5s;
    &:focus{
      background-color: $cor-base-01;
      box-shadow: 0px 0px 4px $amarelo-01;
      outline: 1px solid $amarelo-01;
      border-radius: 5px;
      border: 1px solid transparent;
    }
    &focus-visible{
      outline: 1px solid $amarelo-01;
    }
    &:hover{
      background-color: $cor-base-01;
      box-shadow: 0px 0px 4px $amarelo-01;
      outline: 1px solid $amarelo-01;
      border-radius: 5px;
      border: 1px solid transparent;
    }
  }
}